html{
  background-color: #C0C5C1; /*couleur de fonc au dessus du menu*/
}
body{
  background-color: #C0C5C1; /*couleur de fond sur le reste de la page*/
}
nav div>h1 {
  text-align: center; /* Centre le titre horizontalement */
  font-size: 60px; /* Définit la taille du texte du titre en pixels */
  color: #F2F2F2; /* Définit la couleur du texte du titre en utilisant un code hexadécimal */
}

.menu>a{
  text-decoration: none; /*eviter le trait sous dans le menu*/
  color: #F2F2F2; /*couleur des mots dans le menu*/
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 15px 15px 15px;
  font-size: 14px;
  background-color: #2A5159;
  /* font-family: 'arial'; */
  border-radius: 10px;
  margin-top: 2%; /* Ajoute de l'espace au-dessus du menu */  
}

body>div{
  margin: 7%;/*met de la marge de chaque côté du carré vert central (à l'extérieur)*/
}

body>div>div{
  padding: 5%;/*met de la marge de chaque côté du carré vert central (à l'intérieur)*/
  background-color: #2A5159;
  overflow-wrap: break-word;
  border-radius: 10px;
}

.menu>h1 {
  font-weight: 700;
  font-size: 3rem;
}

.menu>a {
  display: inline-block;
  padding: 1em 3.5em;
  background-color: var(--color);
  color: #F2F2F2;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.3em;
  font-weight: 700;
  letter-spacing: .5px;
  font-size: .875rem;
}

.présentation-projet>h2 {
  color:#C0C5C1;
}

h2{
  text-decoration: underline;
}

p {
  /* width: 100%; */
  color:#C0C5C1;
  padding: 2%; /*espace autour du texte */
  margin-bottom: 5%;
}

h3{
  color:#C0C5C1;
  /* text-decoration: underline; */
  font-size: 20px; /* Taille du titre à 20 pixels */
}

.groupe {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  width: 25%; /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.01%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  /* height: 55%; */
  /* width: 22%; Ajoutez cette ligne pour définir une largeur en pourçentage */
  margin-bottom: 2%;
  margin-top: 2%;
}

.document {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.01%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 8%;
  width: 75%; /* Ajoutez cette ligne pour définir une largeur en pourçentage */
  margin-bottom: 2%;
  margin-top: 2%;
}

.groupe-marvel {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.01%;
  text-align: center;
  display: block;
  /* vertical-align: middle; */
  height: 8%;
  width: 22%; /* Ajoutez cette ligne pour définir une largeur en pourçentage */
  margin-bottom: 2%;
  margin-top: 2%;
}

.groupe-redminevm{
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.01%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  /* height: 10%; */
  /* width: 22%; Ajoutez cette ligne pour définir une largeur en pourçentage */
  margin-bottom: 2%;
  margin-top: 2%;
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


h4{
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  color:#C0C5C1;
  border: 1px solid #C0C5C1;
  margin-left:40%;
  padding: 2px;
  width: 20%;
}
/*new*/
.slide>img{
  width: 50%; 
  height: auto;
}


.groupe>img{
  width: 50%; 
  height: auto;
}

.groupe {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 55%;
  width: 22%; /* Ajoutez cette ligne pour définir une largeur en pourçentage */
  margin-bottom: 2%;
  margin-top: 2%;
}
/* 
.contenu {
  display: flex;
  vertical-align: middle;
  position: relative;
  margin: 0px auto;
  overflow: hidden;
} */

/* Lorsque la case à cocher est cochée, affiche le contenu */
/* input[type="checkbox"]:checked ~ .contenu {
  display: inline-block;
} */

/*new*/
.slide {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 50%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  margin-top: 2%;
}

.contenu {
display: none;
}

/* Lorsque la case à cocher est cochée, affiche le contenu */
input[type="checkbox"]:checked ~ .contenu {
display: block;
}

/* Style pour le titre cliquable */
.titre {
cursor: pointer;
color: blue;
}

.slide-realisation {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 13%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  margin-top: 2%;
}

label{
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 30%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  margin-top: 2%;
}

.label>img{
  width: 50%; 
  height: auto;
}

.ok{
  display:block;
}

.slide-realisation2 {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  /* padding: 1%; */
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 19%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  margin-top: 2%;
}

.slide-realisation2>p{
  padding-top: 10%;
}

.slide-realisation3 {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  /* padding: 1%; */
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 22%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  /* margin-top: 2%; */
}

.slide-realisation4 {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  /* padding: 1%; */
  /* margin: 0.5%; */
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 15%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  /* margin-bottom: 2%; */
  /* margin-top: 2%; */
}

.slide-power {
  border: 2px solid #C0C5C1;
  border-radius: 5px;
  /* width: 25%; */ /* Commentez ou supprimez cette ligne */
  padding: 1%;
  margin: 0.5%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  height: 35%; 
  width: 20%; /* Ajoutez cette ligne pour définir une largeur en pourçentage*/
  margin-bottom: 2%;
  margin-top: 2%;
}

.slide-power>img{
  width: 50%; 
  height: auto;
}

a {
  color: #C0C5C1; /* Couleur bleue pour les liens non visités */
}

a:hover {
  color: red; /* Couleur rouge pour les liens au survol */
}

