.progress-container {
  width: 100%; /* Largeur totale de la barre de progression */
  background-color: #ddd; /* Couleur de fond de la barre */
  height: 20px; /* Hauteur de la barre de progression */
  border-radius: 5px; /* Coins arrondis */
}

.progress-bar {
  width: 0; /* La largeur de départ est de 0 */
  height: 100%; /* Hauteur de la barre de progression */
  background-color: #0074D9; /* Couleur de la barre de progression */
  border-radius: 5px; /* Coins arrondis */
  transition: width 0.5s ease; /* Animation de la progression */
}

.progress-text {
  text-align: center; /* Centre le texte horizontalement */
  line-height: 20px; /* Centre le texte verticalement */
  color: #333; /* Couleur du texte */
  font-weight: bold; /* Texte en gras */
}

/* Ajoutez cette classe à .progress-bar pour définir le pourcentage */
.progress-18 {
  width: 18%; /* Ajustez le pourcentage à 18% */
}

